<%- include("../partial/admin/header.ejs") %> 

<div class="col-lg-8 offset-lg-3 mt-5">
    <div class="card mb-4">
  <form  id="updateProfileForm" action="/admin/editPassword" method="post" name="submission" onsubmit="return updatePassword(event)"   oninput="clearform()">
     <div class="card-body mt-3">
       <div style="text-align: center;">
         <p>CHANGE PASSWORD</p>
         <div>
             <% if(typeof passerrmsg!== 'undefined'){ %>
                 <p style="color: red;"><%= passerrmsg %></p>
           <%  } %>
           </div>
       </div>
          
       <div class="row ">
         <div class="col-md-12 form-group mb-3">
            <label>Current Password</label>                
           <input class="form-control" type="password" name="CurrentPassword" required>
         </div>

      
         <!-- <div class="col-md-6 form-group">
             <label>Last Name</label>   
           <input class="form-control" type="text" name="Lastname" placeholder="Last Name">
         </div> -->


         <div class="col-md-12 form-group  mb-3">
             <label>New Password</label>   
           <input class="form-control" id="NewPassword" type="password" name="NewPassword"   required>
          </div>

         <div class="col-md-12 form-group">
             <label>Confirm Pssword</label>   
           <input class="form-control"  id="ConfirmPassword" type="password" name="ConfirmPassword" required>
         </div>


         <div class="col-md-6 form-group  mb-3">
          <button type="submit" class="btn btn-primary" >UPDATE PASSWORD</button>
         </div>

       </div>

     </div>
     </div> 

   </form>        
 </div> 

 <%- include("../partial/admin/footer.ejs") %> 

 <script>
    function updatePassword(event){
      event.preventDefault();

      const NewPassword = document.getElementById("NewPassword").value.trim();
      const ConfirmPassword = document.getElementById("ConfirmPassword").value.trim();
      const passwordRegex = /^(?=.*\d)[a-zA-Z\d]{8,}$/;

        if(!passwordRegex.test(NewPassword)){
            Swal.fire('Invalid Password', 'Password must contain at least 8 characters, including  number.', 'error');
            return false;
        }
        if(!passwordRegex.test(ConfirmPassword)){
            Swal.fire('Invalid Password', 'Password must contain at least 8 characters, including  number.', 'error');
            return false;
        }

      Swal.fire({
        title: 'Are you sure?',
        text: "You really want to change the passowrd!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!'
      }).then((result)=>{
        if(result.isConfirmed)
        document.getElementById('updateProfileForm').submit();
      })
      return false
    }
    
</script>
