<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <title>
    Giftos
  </title>

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- sweet alert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">


  <!-- bootstrap core css -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/4j7+8hvjq0SB9Pa5qqhbG7NV6IFlM8j9rN0eM+" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/adminstyle.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
  <style>
    body {
      /* margin: 0;
    padding: 0; */
      min-height: 80vh;
      /* margin-top: 170px; */
      position: relative;
      width: 100%;

    }

    .footer_section {
      position: absolute;
      bottom: 0;
      width: 97%;
      overflow-x: hidden;
    }
  </style>
</head>

<body>
  <div class="adminhero_area ">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <p class="header_giftos">
          <a class="navbar-brand" href="/">
            <span>
              Giftos
            </span>
          </a>
        </p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="/admin/adminHome">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <div class="user_option">
            <% if (sessionName) { %>
              <ul class="navbar-navuser">
                <li class="navuser-item user-dropdown">
                  <i class="fa fa-user" id="user-name" style="font-size: larger;"></i>
                  <ul class="dropdown-menu" id="dropdown-menu">
                    <li><a href="/admin/admin-profile">Profile</a></li>
                    <li>
                      <a type="button" id="logout">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <% } else { %>

                <ul class="navbar-navuser">
                  <li class="navuser-item user-dropdown">
                    <i class="fa fa-user" id="user-icon"></i>
                  </li>
                </ul>

                <a href="/login">
                  <span>
                    Login
                  </span>
                </a>

                <% } %>
          </div>
        </div>
      </nav>
    </header>
  </div>
  <!-- end header section -->

  <!-- Main container -->
  <div class="container-xxl position-relative bg-white d-flex p-0 pb-5">

    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3  bg-light">
      <nav class="navbar  navbar-light">
        <div class="d-flex align-items-center ms-4 mb-4">
          <div class="position-relative  d-flex align-items-center">
            <img class="rounded-circle" src="images/admin.img/user.jpg" alt="" style="width: 40px; height: 40px;">
            <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
            </div>
          </div>
          <div class="ms-3">
            <h6 class="mb-0">Thanveer</h6>
            <span>Admin</span>
          </div>
        </div>
        <div class="navbar-nav w-100">
          <a href="http://localhost:4000/admin/adminhome" class="nav-item nav-link active"><i
              class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="/admin/productList" class="nav-item nav-link"><i class="fa fa-th me-2"></i>PRODUCT LIST</a>
          <a href="/admin/userlist" class="nav-item nav-link"><i class="fa fa-th me-2"></i>USER LIST</a>
          <a href="/admin/orderlist" class="nav-item nav-link"><i class="fa fa-table me-2"></i>ORDER LIST</a>
          <a href="/admin/category" class="nav-item nav-link"><i class="fa fa-table me-2"></i>CATEGORY</a>
          <a href="/admin/coupenadmin" class="nav-item nav-link"><i class="fa fa-table me-2"></i>COUPEN</a>
          <a href="/admin/offers" class="nav-item nav-link"><i class="fa fa-table me-2"></i>OFFER</a>
          <a href="/admin/salesreport" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>SALES REPORT</a>
          <!-- <a href="/admin/banner" class="nav-item nav-link"><i class="fa fa-table me-2"></i>BANNER</a> -->
        </div>
      </nav>
    </div>
    <!-- Sidebar End -->