<%- include("../../views/partials/user/header") %>
<link rel="stylesheet" href="/css/userCss/forgot-password.css">


<!-- Forgot Password Form -->
<div class="container forgot-password-container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card forgot-password-card">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Forgot Your Password?</h4>
                    <form id="forgotPasswordForm" action="/forgot-password" method="post">
                        <div class="form-group">
                            <label for="email">Enter Your Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your registered email" required>
                            <small id="emailHelpBlock" class="form-text">
                                We'll send a OTP to  your Email.
                            </small>
                            <div id="emailError" class="error"></div>
                            <!-- Backend error message -->
                     <% if (locals.message && message.length > 0) { %>
                        <div class="alert alert-danger mt-3 text-center error-message">
                            <%= message %>
                        </div>
                        <% } %>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mt-4">Send OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%-include("../../views/partials/user/footer")%>
<script src="/js/userJs/forgot-password.js"></script>