body{background-color: #fdf7f7}
.card{border:none}.product{background-color: #eee}
.brand{font-size: 13px}.act-price{color:red;font-weight: 700}
.dis-price{text-decoration: line-through}.about{font-size: 14px}
.color{margin-bottom:250px}label.radio{cursor: pointer}label
.radio input{position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none}label
.radio span{padding: 2px 9px;border: 2px solid #ff0000;display: inline-block;color: #ff0000;border-radius: 3px;text-transform: uppercase}label
.radio input:checked+span{border-color: #ff0000;background-color: #ff0000;color: #fff}
.btn-danger{background-color: #ff0000 !important;border-color: #ff0000 !important}
.btn-danger:hover{background-color: #da0606 !important;border-color: #da0606 !important}.btn-danger:focus{box-shadow: none}.cart i{margin-right: 10px}



/* .row{
    margin:8rem 2rem;
} */

.price {
    font-size: 1.5rem;
    color: #28a745;
}

.description {
    font-size: 1rem;
    margin-bottom: 20px;
}

/* .delivery-details {
    margin-bottom: 20px;
} */

/* .quantity-control {
    display: flex;
    align-items: center;
} */

/* .quantity-input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
} */

/* Card Styles */
.card {
    border: none;
    margin-top: 3rem;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 20px;
}

/* .card:hover {
    transform: scale(1.05);
} */

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}


/* Related Products Section Styles */
.related-products {
    background-color: #f8f9fa; /* Light change to background color */
    padding: 30px 0; /* Added gap to top and bottom */
}




  /* Container for the image with zoom functionality */
  .product-image {
    position: relative;
    width: 100%; /* Ensure the image container takes full width */
    overflow: hidden; /* Hide the part of the image that overflows */
    height: auto;
  }

  /* Zoomed image styling */
  .zoom-img {
    transition: transform 0.3s ease-out;
    width: 100%;
    object-fit: cover;
    height: auto;

  }

  /* Image zoom on hover */
  .product-image:hover .zoom-img {
    cursor: zoom-in;
    transform: scale(2); /* Image zoom level */
  

  }
  .card-body a.custom-link {
    color: #000; /* Replace with your desired color */
    text-decoration: none;
}

.card-body a.custom-link:hover {
    color: #000; /* Maintain color on hover */
}