/* Table Styling */
.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.table thead th {
    background-color: #343a40;
    color: #ffffff;
}

.badge-success {
    background-color: #28a745;
}

.badge-danger {
    background-color: #dc3545;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.form-control {
    border-color: #487201;
}

.form-control:focus {
    border-color: #025809;
    box-shadow: none;
}
